{{ form_start(form, {'action': path('admin_ekintzamotadet_new'), 'method': 'POST','attr':{'id': 'frmEkintzamotadetBerria'} })}}


    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.mota) }}

    <div class="hidden">
        {{ form_rest(form) }}
    </div>

{{ form_end(form) }}
