{% form_theme edit_form ':Form:bootstrap_3_cool.html.twig' %}

<div class="col-md-1"></div>
<div class="col-md-10">

    {{ form_start(edit_form, {
        'action': path('txostenadetval_edit',{'id': edit_form.vars.value.id}),
        'method': 'POST',
        'attr':{
            'id': 'frmTxostenadetvalEdit',
            'class': 'ajaxForm form-horizontal'
        }}) }}

        <div class="row">
            {{ form_errors(edit_form) }}
        </div>

        <div class="form-group">
            {% if edit_form.mota.vars.value == 'textarea' %}

                <div class="row">
                    <div class="col-sm-11">
                        {{ form_label(edit_form.value_text, edit_form.name.vars.value, {'label_attr': {'class': 'col-sm-12'}, 'id':'my_' ~ edit_form.value_text.vars.id ~ '_' ~ loop }) }}
                    </div>
                    <div class="col-sm-1">
                        {{ form_widget(edit_form.Gorde) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form_widget(edit_form.value_text, {'attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.name.vars.id ~ '_' ~ loop }) }}
                    </div>
                </div>

                <div class="hidden">
                    {{ form_row(edit_form.value_fetxa, {'attr': {'class': ''}, 'id':'my_' ~ edit_form.value_fetxa.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value_num, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_num.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value.vars.id ~ '_' ~ loop }) }}
                </div>


            {% elseif edit_form.mota.vars.value == 'date'  %}
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    {{ form_label(edit_form.value_fetxa, edit_form.name.vars.value, {'label_attr': {'class': 'col-sm-12 text-right'}, 'id':'my_' ~ edit_form.value_fetxa.vars.id ~ '_' ~ loop }) }}
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        {{ form_widget(edit_form.value_fetxa, {'attr': {'class': ''}, 'id':'my_' ~ edit_form.value_fetxa.vars.id ~ '_' ~ loop }) }}
                    </div>
                </div>
                <div class="col-sm-1">
                    {{ form_widget(edit_form.Gorde) }}
                </div>
                <div class="col-sm-1"></div>

                <div class="hidden">
                    {{ form_row(edit_form.value_text, {'attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_text.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value_num, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_num.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value.vars.id ~ '_' ~ loop }) }}
                </div>

            {% elseif edit_form.mota.vars.value == 'integer'  %}
                <div class="row">
                    {{ form_label(edit_form.value, edit_form.name.vars.value, {'label_attr': {'class': 'col-sm-12'}, 'id':'my_' ~ edit_form.value.vars.id ~ '_' ~ loop }) }}
                </div>

                <div class="row">
                    <div class="col-sm-11">
                        {{ form_widget(edit_form.value_num, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_num.vars.id ~ '_' ~ loop }) }}
                    </div>
                    <div class="col-sm-1">

                        {{ form_widget(edit_form.Gorde) }}
                    </div>
                </div>

                <div class="hidden">
                    {{ form_row(edit_form.value_fetxa, {'attr': {'class': ''}, 'id':'my_' ~ edit_form.value_fetxa.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value_text, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_text.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value.vars.id ~ '_' ~ loop }) }}
                </div>

            {% else %}



                <div class="row">
                    {{ form_label(edit_form.value, edit_form.name.vars.value, {'label_attr': {'class': 'col-sm-12'}}) }}
                </div>

                <div class="row">
                    <div class="col-sm-11">
                        {{ form_widget(edit_form.value, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        {{ form_widget(edit_form.Gorde) }}
                    </div>

                </div>

                <div class="hidden">
                    {{ form_row(edit_form.value_fetxa, {'attr': {'class': ''}, 'id':'my_' ~ edit_form.value_fetxa.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value_text, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_text.vars.id ~ '_' ~ loop }) }}
                    {{ form_row(edit_form.value_num, { 'type':'number','attr': {'class': 'form-control'}, 'id':'my_' ~ edit_form.value_num.vars.id ~ '_' ~ loop }) }}
                </div>

            {% endif %}
        </div>

    <div class="">
        <div class="hidden" style="border: 1px solid #000000">

            {{ form_rest(edit_form) }}
        </div>

    </div>
    {{ form_end(edit_form) }}

</div>
<div class="col-md-1"></div>


