{% extends 'front.html.twig' %}

{% block body %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
       aaaa
        </h3>

        <div class="box-tools pull-right">

        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

    {{ form_start(form) }}
aaa
        {{ form_rest(form.value_text) }}
    bbbbbbb
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
        /div>
        <div class="box-footer">
        </div>

    </div>
    <ul>
        <li>
            <a href="{{ path('txostenadetval_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
