{% extends 'base.html.twig' %}

{% block content_header %}
    <h1>Ekintza Motak
        <small>Zerrenda</small>
    </h1>{% endblock %}

{% block body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">

            </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Izena</th>
                    <th>Ermuak</th>
                </tr>
                </thead>
                <tbody>
                {% for e in ekintzaMotas %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_ekintzamota_show', { 'id': e.id }) }}">{{ e.name }}</a>
                        </td>
                        <td>
                            <label class="badge bg-info">{{ e.ekintzamotadet | length }}</label>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a class="btn"
                                       href="{{ path('admin_ekintzamota_edit', { 'id': e.id }) }}"><i
                                                class="fa fa-edit"></i> Aldatu</a>
                                </li>
                                <li>
                                    <a class="btn"
                                       href="{{ path('admin_ekintzamota_show', { 'id': e.id }) }}"><i
                                                class="fa fa-eye"></i> Ikusi</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="box-footer">
            <a class="btn btn-primary" href="{{ path('admin_ekintzamota_new') }}"><i class="fa fa-plus-circle"></i> Ekintza mota</a>
        </div>

    </div>
{% endblock %}
