{% extends 'base.html.twig' %}

{% block content_header %}
    <h1>
        {{ ekintzamota.name }}
        <small>ikusten</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_ekintzamota_index') }}"><i class="fa fa-dashboard"></i> Ekintza mota</a></li>
        <li class="active">ikusi</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="pull-left">
                <div class="btn-group">
                    <a class="btn btn-primary btnEremuBerria" href="javascript:void(0);"><i class="fa fa-plus-circle"> </i> Eremu berria</a>
                    {#<button type="button" class="btn btnEremuBerria btn-default dropdown-toggle" data-toggle="dropdown">#}
                        {#<span class="caret"></span>#}
                        {#<span class="sr-only">Toggle Dropdown</span>#}
                    {#</button>#}
                    {#<ul class="dropdown-menu" role="menu">#}
                        {#<li><a class=".btnEremuBerria" data-eremua="text" href="javascript:void(0);">Textua</a></li>#}
                        {#<li><a class=".btnEremuBerria" data-eremua="integer" href="javascript:void(0);">Zenbakia</a></li>#}
                        {#<li><a class=".btnEremuBerria" data-eremua="date" href="javascript:void(0);">Fetxa</a></li>#}
                    {#</ul>#}
                </div>
            </div>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table class="table table-bordered table-bordered table-responsive">
                <tr>
                    <th>Deskribapena</th>
                    <th>Mota</th>
                    <th></th>
                </tr>

                {% for e in ekintzamota.ekintzamotadet  %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.mota }}</td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-ekintzamotadet-edit{{ loop.index }}">
                                        <i class="fa fa-edit"></i> Aldatu
                                    </button>
                                </li>
                                <li>
                                    {{ form_start(deleteforms[e.id],{'attr': {'id': e.id}}) }}
                                    <a class="btn btn-default btnRemoveRow" data-id="{{ e.id }}" href="javascript:void(0);">
                                        <i class="fa fa-trash text-danger" aria-hidden="true"></i> Ezabatu
                                    </a>
                                    {{ form_end(deleteforms[e.id]) }}
                                </li>
                            </ul>
                            <div class="modal fade" id="modal-ekintzamotadet-edit{{ loop.index }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Aldatu</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ render(controller('AppBundle:Ekintzamotadet:edit', {'id':  e.id})) }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Ezeztatu</button>
                                            <button type="button" class="btn btn-save btn-primary">Gorde</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer">
            <p><small>Azken aldaketak {{ ekintzamota.updated | date('Y-m-d h:m:s') }} {{ ekintzamota.createdBy }}-k sortua {{ ekintzamota.updatedBy }}-k aldatua</small></p>
        </div>

    </div>

    <div class="modal fade" id="modal-ekintzamotadet-new">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eremu berria</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppBundle:Ekintzamotadet:new', {'ekintzamotaid':  ekintzamota.id})) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Ezeztatu</button>
                    <button type="button" class="btn btn-save btn-primary">Gorde</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            $('.modal-ekintzamotadet-edit').on('click', function () {
                $(this).modal();
            });

            $('.btnEremuBerria').on('click', function () {
                $('#modal-ekintzamotadet-new').modal();
            });

            $('.btn-save').on('click', function () {
                //balidatu
                const izena = $('#appbundle_ekintzamotadet_name').val();
                const balioa = $('#appbundle_ekintzamotadet_value').val();
                const mota = $('#appbundle_ekintzamotadet_mota').val();
                let baliozkoa = true;

                if (izena.length === 0) {
                    alert("Izena beharrezkoa da");
                    baliozkoa = false
                    return
                }

                if (mota.length === 0) {
                    alert("Mota beharrezkoa da");
                    baliozkoa = false
                    return
                }

                if (baliozkoa === true) {
//                    $('#frmEkintzamotadetBerria').submit();
                    $(this).parent().prev().find('form').submit();
                }

            });

            $('body').on('click', '.btnRemoveRow', function () {
                const that = $(this);
                bootbox.confirm({
                    title: "{{ 'Adi!' | trans }}",
                    message: "{{ 'Ziur zaude ezabatu nahi duzula?' | trans }}",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> {{ 'Ezeztatu' | trans }}'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> {{ 'Onartu' | trans }}'
                        }
                    },
                    callback: function (result) {
                        if ( result === true ) {
                            $(that).closest('form').submit();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}