{{ form_start(form, {'action': path('txostenadet_new'), 'method': 'POST','attr':{'id': 'frmTxostenadetBerria'} })}}

    {{  form_errors(form) }}

    {{ form_label(form.ekintzamota, 'Ekintza Mota:', {'label_attr': {'class': 'col-sm-3'}}) }}
    {{ form_widget(form.ekintzamota)}}

    <div class="hidden">
        {{ form_rest(form) }}
    </div>

{{ form_end(form) }}

